

#c1 .carousel-item{
	overflow: hidden;
	height: 640px;
}

.text-shadow{
	text-shadow: 2px 2px 2px rgba(10, 10, 10, 0.7);
}

.text-shadow-lg{
	text-shadow: 2px 2px 8px rgba(10, 10, 10, 0.4), 0px 0px 4px rgba(10, 10, 10, 0.4), 0px 0px 8px rgba(10, 10, 10, 0.4);
}

.bg-dark-trans{
	background-color: rgba(0, 0, 0, 0.6)
}

.mt-7{
	margin-top: 130px!important;
}

/* Début style div à deux faces */
.f{
	width: 300px;
	height: 380px;
	background-repeat: no-repeat;
	background-position: center; 
	background-size: cover;
	transition: background 0.3s ease-in-out;
}
.f .text{
	height: 100%;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}
.f1{
	background-image: url(../img/wixIMG/gastronomie/fromages/f1.jpg);
}
.f1 .text{
	background-color: rgb(50, 65, 87);
}
.f2{
	background-image: url(../img/wixIMG/gastronomie/fromages/f2.jpg);
}
.f2 .text{
	background-color: rgb(86, 113, 153);
}
.f3{
	background-image: url(../img/wixIMG/gastronomie/fromages/f3.jpg);
}
.f3 .text{
	background-color: rgb(143, 161, 186);
}
.f4{
	background-image: url(../img/wixIMG/gastronomie/fromages/f4.jpg);
}
.f4 .text{
	background-color: rgb(143, 161, 186);
}
.f5{
	background-image: url(../img/wixIMG/gastronomie/fromages/f5.jpg);
}
.f5 .text{
	background-color: rgb(50, 65, 87);
}

.f:hover .text{
	opacity: 1;
}
/*Fin*/

#ALLIER{}
#PUYDEDOME{}
#CANTAL{}
#LOIRE{}
#RHONE{}
#HAUTELOIRE{}
#ARDECHE{}
#DROME{}
#AIN{}
#ISERE{}
#SAVOIE{}
#HAUTESAVOIE{}
