
h2 {
	text-align: center;
	margin-bottom: 3%;
	margin-top: 2%;
}

#decouverte #dec {
text-align: justify;
	box-shadow: 0 7px 47px -10px rgba(0,0,0,.75);
	background: rgba(239,239,239,.82);
	width: 55%;
	margin: auto;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	color: black;
	animation: slide 1.5s ease;
}


#decouverte #dec p {
	padding-bottom: 2%;
}